.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    display: flex;
}

.inner-container > span {
    padding-top: 50px;
}

.disabled {
    color: gray;
}

@media only screen and (max-width: 920px) {
    .page-container {
        justify-content: center;
    }
    .inner-container {
        display: flex;
        flex-direction: column;
    }
    .time-taken {
        height: 50px !important;
    }
}