.header {
    position: absolute;
    font-size: 30px;
    top: 1vh;
    left: 50%;
    transform: translate(-50%);
}

.header-buttons {
    position: fixed;
    right: 0px;
    top: 10px;
}

.header-buttons > input, .header-buttons > a > input{
    background-color: white;
    margin: 0px 20px;
    border-width: 0px !important;
}

.line {
    border-left: 3px solid black;
    height: 5px
}

.toggle-button {
    display: none !important;
}

@media only screen and (max-width: 920px) {
    .header {
        position: relative;
    }

    .header-buttons > input, .header-buttons > a, .header-buttons > span  {
        display: none;
    }

    .toggle-button {
        display: block !important;
    }
}