.select-destination {
    margin: 0px 20px;
    width: 150px;
    height: 175px;
}

.vehicles {
    display:flex;
    flex-direction: column;
}

.inner-vehicles {
    display: block;
}

@media only screen and (max-width: 920px) {
    .select-destination {
        display: flex;
        width: 300px;
        height: 100px;
        flex-direction: row;
    }
    .display-header {
        display: none;
    }
}